<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
      <p>Hello there! I'm Yakshit, a passionate learner and aspiring computer programmer. Welcome to my website, where I'd like to share a bit about myself and my interests.</p>
      <p>I am currently immersed in studying computer programming and analysis. My commitment to academic excellence led to being recognized on the president's honor list for my outstanding achievements in the first semester of my studies. I have developed proficiency in various programming languages and technologies, including C, C++, HTML, CSS, JavaScript, SQL, and more. Alongside my technical skills, I possess a deep understanding of software testing, debugging, and design. Additionally, I am well-versed in utilizing project management tools such as MS Office, Git, Jira, and HubSpot.</p>
      <p>Beyond technical expertise, I bring a meticulous attention to detail, combined with a positive and motivated attitude, to every project I undertake. I thrive on challenges and constantly push myself to surpass expectations. With prior experience leading teams of up to 18 individuals, I have developed exceptional leadership skills. Moreover, my background in customer service has equipped me with the ability to handle difficult clients with the highest levels of professionalism. In my previous role as a sales representative for a medical distributor, I not only managed their website but also created engaging catalogues, provided comprehensive training to clients, and successfully facilitated product sales throughout Canada </p>
      <p>In my personal life, I thrive on staying active and exploring the outdoors. Whether it's going for a jog, hiking a scenic trail, or simply taking my lovely dog for a walk (and she is lovely, believe me). I also have a passion for planning memorable get-togethers with friends, be it weekend cottage retreats or afternoon BBQ gatherings. Traveling and discovering new places is another passion of mine, as it broadens my horizons and give me a chance to experience different cultures.</p>
      <p>When it comes to personal growth, I'm an avid learner. I'm constantly seeking new knowledge and skills to expand my repertoire. From gardening to playing melodies on an acoustic guitar, pretending to be a fashion artist with my sewing machine, or even honing my martial arts techniques, I find joy in acquiring diverse talents and experiences.</p>
      <p>I'm excited to embark on this journey of continuous growth, both personally and professionally. Join me as I document my experiences, share my learnings, and contribute to the dynamic world of computer programming.</p>
      <p>Thank you for visiting my website, and feel free to connect with me to explore potential collaborations or simply to say hello!</p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay in the Loop for Amazing Things to Come.</p>
    </aside>
  </div>
</div>
